.share {
	position: fixed;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 12;
	width: 100%;
	text-align: center;

	@media only screen and (min-width: 768px) {
		bottom: auto;
		left: auto;
		right: -10px;
		top: 50%;
		transform: translateY(-50%);
		width: auto;
	}

	&__link {
		display: inline-block;
		width: 48px;
		height: 58px;
		text-indent: -9999px;
		transition: transform .2s ease;
		background-repeat: no-repeat;
		background-position: top center;
		background-size: contain;

		@media only screen and (min-width: 768px) {
			display: block;
			width: 74px;
			height: 64px;
			background-position: center left;
		}

		&:hover {
			transform: translateY(-10px);

			@media only screen and (min-width: 768px) {
				transform: translateX(-10px);
			}
		}

		&--facebook {
			background-color: #3a5ba0;
			background-image: url(../images/facebook.svg);
		}
		&--twitter {
			background-color: #2ca7e0;
			background-image: url(../images/twitter.svg);
		}
		&--pinterest {
			background-color: #c9151c;
			background-image: url(../images/pinterest.svg);
		}
		&--linkedin {
			background-color: #0e76a8;
			background-image: url(../images/linkedin.svg);
		}
		&--whatsapp {
			background-color: #25D366;
			background-image: url(../images/whatsapp.svg);
		}
	}
}