.share {
  position: fixed;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 12;
  width: 100%;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .share {
    bottom: auto;
    left: auto;
    right: -10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: auto;
  }
}
.share__link {
  display: inline-block;
  width: 48px;
  height: 58px;
  text-indent: -9999px;
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  -o-transition: transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}
@media only screen and (min-width: 768px) {
  .share__link {
    display: block;
    width: 74px;
    height: 64px;
    background-position: center left;
  }
}
.share__link:hover {
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}
@media only screen and (min-width: 768px) {
  .share__link:hover {
    -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}
.share__link--facebook {
  background-color: #3a5ba0;
  background-image: url(../images/facebook.svg);
}
.share__link--twitter {
  background-color: #2ca7e0;
  background-image: url(../images/twitter.svg);
}
.share__link--pinterest {
  background-color: #c9151c;
  background-image: url(../images/pinterest.svg);
}
.share__link--linkedin {
  background-color: #0e76a8;
  background-image: url(../images/linkedin.svg);
}
.share__link--whatsapp {
  background-color: #25D366;
  background-image: url(../images/whatsapp.svg);
}
